/* google fonts */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  margin-top: 40px;
}

.home {
  float: right;
}
/* form container */
.form-container {
  width: 400px;
  margin: auto;
  margin-top: 50px;
  padding-left: 100px;
}

.form-signin-container {
  width: 400px;
  margin: auto;
  padding-top: 50px;
  padding-left: 100px;
}

.headlines-container {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
  padding-left: 200px;
}

.news-form-container {
  width: 400px;
  margin-left: 200px;
  margin-top: 20px;
}

/* sign in icon  */
.ui.icon.button > .icon,
.ui.icon.buttons .button > .icon {
  font-size: 1em;
  margin-right: 10px !important;
  color: "#871f1d";
}

/* sing in button n icon */

.ui.basic.secondary.button,
.ui.basic.secondary.buttons .button {
  box-shadow: 0 0 0 1px #313233 inset !important;
  color: #871f1d !important;
}

/* headlines icon */

i.icon.newspaper:before {
  color: #871f1d;
}

/* input labes label */

.ui.form .field > label {
  color: #704847 !important;
}

.ui.form .field:focus {
  border-color: #871f1d;
}

/* signup page header icon */
i.icon.newspaper.outline:before {
  color: #871f1d;
  border-color: #871f1d;
}

/* singup page header  */

.ui.icon.header .content {
  color: #871f1d;
}

/* join now button sing up page */
.ui.basic.primary.button,
.ui.basic.primary.buttons .button {
  box-shadow: 0 0 0 1px #313233 inset !important;
  color: #871f1d !important;
  width: 300px;
}

/* home nav bar when acitve */
.ui.teal.menu .active.item {
  border-color: #871f1d !important;
  color: #871f1d !important;
}

/* comment icon */
.ui.basic.button,
.ui.basic.buttons .button {
  color: #871f1d !important;
}

/* like, comment count n border */
.ui.basic.gray.label {
  color: #871f1d !important;
  border-color: #704847 !important;
}

.ui.primary.button,
.ui.primary.buttons .button {
  background-color: #871f1d !important;
}

.fixed-menu {
  position: fixed;
  right: 13%;
  top: 34px;
  margin-top: -2.5em;
  z-index: 323;
}

.fixed-menu-no-user {
  position: fixed;
  right: 13%;
  top: 10%;
  margin-top: -2.5em;
  z-index: 323;
}

/* user && menu style */

.user-menu {
  background: #fff !important;
  color: #871f1d !important;
}

.menu-log-out {
  background-color: #871f1d;
}

.single-news-page {
  color: #871f1d !important;
}

.single-news-page-comment {
  color: #871f1d !important;
  border-color: #871f1d !important;
  font-size: 11px !important;
}

.delete-button {
  background: #fff !important;
  color: #871f1d !important;
}

.comment-button-single {
  background: #fff !important;
  color: #871f1d !important;
}
